body {
    background: url(/image/img_bg_sop_raw.png) no-repeat; 
    background-size: cover;
    <!-- background-color: #F2F2F2; -->
    font-family: 'Gubblebum BlacknBlocky';
    font-size: 1.25rem;
    line-height: 1.5;
}

@font-face {
    font-family:Gubblebum BlacknBlocky;
    src: url(/font/GUBBLABLO.ttf);
}

.page-nav {
    font-family:'Gubblebum BlacknBlocky';
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  margin-top: 2em;
  <!--display: flex;-->
  text-align:left;
  align-items: baseline;
  justify-content: space-between;
  font-family:'Gubblebum BlacknBlocky';

  .blog-title .logo {
    color: #AAA;
    font-size: 2em;
    font-family: cursive,LiSu,sans-serif;
    text-decoration: none;
  }

  .menu {
    margin: 0;
    padding: 0;

    .menu-item {
      display: inline-block;
      margin-right: 10px;
    }

    .menu-item-link {
      color: #AAA;
      text-decoration: none;

      &:hover {
        color: #368CCB;
      }
    }
  }
}

.post {
    margin: 1em auto;
    padding: 30px 50px;
    background-color:none;
    border: none;
    box-shadow: 0 0 2px #ddd;
    font-family: 'Gubblebum BlacknBlocky';
    
}

.posts {
    font-family: 'Gubblebum BlacknBlocky';
    .post:first-child {
    margin-top: 0;
  }

post-title {
    font-size: 1.5em;
    font-family: 'Gubblebum BlacknBlocky';
    .post-title-link {
      color: #368CCB;
      text-decoration: none;
    }
  }

.post.post-content {
    a
{
    color: #368CCB;
    text-decoration: none;
    font-family:'Microsoft YaHei UI';
}
  }

.post-meta {
    color: #BABABA;
    font-family: 'Gubblebum BlacknBlocky';
}
}
.archive {
    margin: 1em auto;
    padding: 30px 50px;
    background-color: none;
    border: none;
    box-shadow: 0 0 2px #ddd;
    font-family: 'Gubblebum BlacknBlocky';
    .post-archive {
    list-style: none;
    padding: 0;

    .post-item {
      margin: 5px 0;

      .post-date {
        display: inline-block;
        margin-right: 10px;
        color: #BABABA;
      }

.post-title {
    color: #368CCB;
    text-decoration: none;
    font-family: 'Gubblebum BlacknBlocky';
}
    }
  }
}

.article-entry .highlight table {
    margin: 0;
    width: auto;
}

pre {
  word-break: break-all;
  word-wrap: break-word;  
}

pre {
  overflow:auto; 
}

.article-entry pre, .article-entry .highlight {
    background: #2d2d2d;
    margin: 0 -20px;
    padding: 15px 20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 22.400000000000002px;
}